@import '/node_modules/bootstrap/dist/css/bootstrap.css';

/* sets size for each cell int he game board along with pointer for cell click */
.cell {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 75px;
    cursor: pointer;
}

/* sets background color for page */
#body {
    background-color: aqua;
}

/* aligns content of the game container */
#gameContainer {
    text-align: center;
}

/* sets the number and size of columns  */
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

/* sets the border color for the cells of game board */
.cell.border {
    border: solid 6px purple !important;
}

.cell.border-bottom {
    border-bottom: solid 6px purple !important;
}

.cell.border-top {
    border-top: solid 6px purple !important;
}

.cell.border-start {
    border-left: solid 6px purple !important;
}

.cell.border-end {
    border-right: solid 6px purple !important;
}